header {
  background-color: #ffffff;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  padding: 2.2rem 0;
  z-index: 2;

  &-logo {
    grid-column: 1/4;
  }

  &-menu {
    grid-column: 7/7;
  }

  &-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 6.4rem;
    background: linear-gradient(
      180deg,
      #2d314d 0%,
      rgba(45, 49, 77, 0.0001) 100%
    );
    text-align: center;
    height: 100vh;
    width: 100%;
  }

  &-mobile {
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    left: 2.4rem;
    right: 2.4rem;
    top: 2.4rem;
    border-radius: 4px;
    padding: 3.2rem 0;

    ul {
      font-size: 1.8rem;
      line-height: 2.1rem;
      text-align: center;
      font-weight: 400;
      letter-spacing: -0.138462px;
      color: #2d314d;

      li {
        &:not(:last-child) {
          margin-bottom: 2.4rem;
        }
      }
    }
  }

  &-desktop {
    display: none;
  }
}
