@use "../base/mixins" as *;

.hero {
  background-image: url("/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -35%;
  position: relative;

  @include mq(tablet) {
    background-image: url("/bg-intro-desktop.svg");
    background-position: 36rem 94%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    overflow-y: hidden;
  }

  @include mq(laptop) {
    background-position: 40rem 170%;
  }

  @include mq(desktop) {
    background-position: 42rem 250%;
  }

  &-img {
    position: relative;
    top: -13rem;
    padding: 0 1.2rem;
    z-index: 1;

    @include mq(tablet) {
      top: -5rem;
      right: -6.5rem;
      padding: 0;
      flex: 1;
    }

    @include mq(laptop) {
      top: -6rem;
      right: -10rem;
    }

    @include mq(desktop) {
      right: -11.2rem;
    }
  }

  &-content {
    margin-top: -9.9rem;
    padding: 0 2.4rem;
    text-align: center;

    @include mq(tablet) {
      text-align: left;
      margin-top: 0;
      max-width: 39.6rem;
      padding: 0 0 0 2.4rem;
      flex: 1;
    }

    @include mq(laptop) {
      max-width: 44.7rem;
    }

    @include mq(desktop) {
      padding: 0;
    }

    &-text {
      margin: 1.6rem 0 3.2rem 0;

      @include mq(tablet) {
        margin: 2.4rem 0 3.6rem 0;
      }
    }

    &-button {
      margin: auto;

      @include mq(tablet) {
        margin: 0;
      }
    }
  }
}
