@use "../base/mixins" as *;

.hero {
  background-image: url("/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -35%;
  position: relative;

  @include mq(tablet) {
    background-image: url("/bg-intro-desktop.svg");
    background-position: 36rem 94%;
    display: flex;
    flex-direction: row-reverse;
    overflow-y: hidden;
  }

  @include mq(laptop) {
    background-position: 40rem 170%;
  }

  @include mq(desktop) {
    background-position: 42rem 250%;
  }

  &-img {
    position: relative;
    top: -13rem;
    padding: 0 1.2rem;
    z-index: 1;

    @include mq(tablet) {
      top: -5rem;
      right: -6.5rem;
      padding: 0;
      flex: 1;
    }

    @include mq(laptop) {
      top: -6rem;
      right: -10rem;
    }

    @include mq(desktop) {
      top: -9rem;
      right: -11.2rem;
    }
  }

  &-content {
    margin-top: -9.9rem;
    padding: 0 2.4rem;
    text-align: center;

    @include mq(tablet) {
      text-align: left;
      margin-top: 10rem;
      max-width: 39.6rem;
      padding: 0 0 0 2.4rem;
      flex: 1;
    }

    @include mq(laptop) {
      max-width: 44.7rem;
      margin-top: 17rem;
    }

    @include mq(desktop) {
      padding: 0;
    }

    &-text {
      margin: 1.6rem 0 3.2rem 0;

      @include mq(tablet) {
        margin: 2.4rem 0 3.6rem 0;
      }
    }

    &-button {
      margin: auto;

      @include mq(tablet) {
        margin: 0;
      }
    }
  }
}

// PART DESCRIPTION
.description {
  background-color: #f4f5f7;
  margin-top: 6.8rem;

  @include mq(tablet) {
    margin-top: -4rem;
  }

  @include mq(laptop) {
    margin-top: -15rem;
  }

  @include mq(desktop) {
    margin-top: -20.6rem;
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding: 6.4rem 0;

    @include mq(tablet) {
      text-align: start;
      padding: 9.6rem 0 9.4rem 0;
    }
  }

  &-header {
    grid-column: 1/5;

    p {
      margin-top: 1.4rem;

      @include mq(tablet) {
        max-width: 63.5rem;
        margin-top: 1.6rem;
      }
    }
  }

  &-content {
    grid-column: 1/5;
    margin-top: 5.6rem;

    @include mq(tablet) {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
    }

    @include mq(laptop) {
      margin-top: 7.2rem;
    }

    &-article {
      margin-bottom: 3.2rem;

      @include mq(tablet) {
        flex: 1 0 25.5rem;
        margin-bottom: 0;
      }

      h3 {
        font-size: 2rem;
        line-height: 2.8rem;
        letter-spacing: -0.357143px;
        margin: 2.4rem 0 1.6rem 0;

        @include mq(tablet) {
          font-size: 2.4rem;
          letter-spacing: -0.428571px;
          margin: 4rem 0 2.6rem 0;
        }
      }

      &-image {
        margin: auto;

        @include mq(tablet) {
          margin: 0;
        }
      }
    }
  }
}

// Article Part
.articles {
  margin: 8.8rem 0;

  &-container {
    h3 {
      margin-bottom: 3.1rem;
      text-align: center;
    }
  }

  &-content {
    @include mq(tablet) {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
    }
  }
}

.article {
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;

  @include mq(tablet) {
    flex: 1 0 25.5rem;
  }

  &:not(:last-child) {
    margin-bottom: 2.4rem;

    @include mq(tablet) {
      margin-bottom: 0;
    }
  }

  &-img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }

  &-content {
    padding: 2.5rem 3.1rem 2.4rem 3.1rem;

    @include mq(tablet) {
      padding: 2.5rem 2.4rem 2.4rem 2.4rem;
    }

    &-name {
      font-size: 1rem;
      line-height: 1.8rem;
      letter-spacing: -0.15625px;
    }

    &-title {
      font-size: 1.6rem;
      line-height: 2rem;
      letter-spacing: -0.285714px;
      margin: 0.8rem 0;
    }
  }
}
