@use "../base/mixins" as *;

:root {
  font-size: 10px;
  font-family: "Public Sans", sans-serif;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2d314d;
  font-weight: 300;
}

p {
  color: #9597a5;
  font-weight: 400;
}

.container {
  width: min(100% - 4.8rem, 111rem);
  margin-inline: auto;
}

.container-img {
  width: min(100% - 0, 111rem);
  margin-inline: auto;
}

.big-title {
  font-size: 4rem;
  line-height: 4.7rem;
  letter-spacing: -0.714286px;

  @include mq(laptop) {
    font-size: 5.6rem;
    line-height: 6.4rem;
    letter-spacing: -1px;
  }
}

.mid-title {
  font-size: 3.2rem;
  line-height: 3.8rem;
  letter-spacing: -0.571429px;

  @include mq(tablet) {
    font-size: 4rem;
    line-height: 6.4rem;
    letter-spacing: -0.714286px;
  }
}

.text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.234375px;

  @include mq(laptop) {
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: -0.28125px;
  }
}

.mid-text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.25px;

  @include mq(tablet) {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

.lil-text {
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: -0.203125px;
}

.button {
  width: 16.3rem;
  height: 4.4rem;
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 2.8rem;
  font-weight: 700;
  border-radius: 2.2rem;
}
